* {
  font-family: Arial, Helvetica, sans-serif;
}

h1, footer {
  color: white;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  background-color: #124269;
  text-align: center;
  text-shadow: 2px 2px 0px #c7b179;
  /* text-indent: -50px; */
  letter-spacing: 0px;
  word-spacing: 0px;
  width: 100%;
}

h1 {
  position: fixed;
  width: 100%;
  top: 0%;
  margin-top: 0px;
  height: 35px;
}

h2 {
  margin-top: 45px;
}

a {
  padding: 4px;
  margin-bottom: 7px;
}

.news, #about_us_notice, {
  background-color: #8c7334;
}

td img {
  width: 250px;
}

a:hover {
  background-color: #5d759c;
}

#firstname:active {
  background-color: yellow;
}

a:visited {
  color: #b0095c;
}

ul {
  list-style-type: square;
  list-style: url("../Images/black.star.png") square inside;
}

.about_us_photo {
  height: 150px;
  width: 150px;
  background: #124269 no-repeat 0 0px;
  background-size: contain;
  margin: 25px;
  padding: 15px;
  /* border: 25px solid yellow;
  border-style: outset;
  outline: 25px solid yellow;
  outline-style: inset;
  outline-offset: 0px;
  margin: 25px; */
  border: 20px solid white;
  /* border: 25px solid orange;
  border-style: dotted; */
  border-style: dashed;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 15px 7px 0px #b59743;
  position: relative;
  display: inline-block;
} 

span {
  height: 400px;
  width: 900px;
  display: none;
}

/* body {
  height: 95%;
} */

#pic1 {
  background-image: url("../Images/human.repairing.acar.jpg");
  /* left: 105px;
  top: 65px; */
  z-index: 1;
}

#pic2 {
  background-image: url("../Images/human.maintaning.acar.jpg");
  z-index: -1;
}

#pic3 {
  background-image: url("../Images/human.washing.acar.jpg");
  /* margin-right: 100px; */
}

#container {
  width: 85%;
  margin: auto;
}

table {
  empty-cells: hide;
  /* border-spacing: 10px 5px; */
  border-collapse: collapse;
  width: 100%;
  border-style: solid;
}

table th {
  color: white;
  background-color: #664e0a;
}

#about_us_paragragh {
  background-color: orange;
  clear: both;
}

#about_us_pic {
  float: right;
}

#description, td {
  font-weight: ;
}

p {
  color: white;
  background-color: #8c7334;
}

#product-container {
  color: white;
  background-color: #8c7334;
}

td, th {
  border: 5px solid white;
}

#campaign h2 {
  color: white;
  background-color: #b59743;
  text-align: right;
  text-shadow: 2px 2px 0px #124269;
}

#container p {
  text-align: center;
}
